# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Juego_1.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\A10Lenovo\Desktop\Juego1_0\Juego_1\.idea\.idea.Juego_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
